@define-color foreground #c8bea0;
@define-color background #0f0c01;
@define-color cursor #c8bea0;

@define-color color0 #0f0c01;
@define-color color1 #6A5C1C;
@define-color color2 #5D5B37;
@define-color color3 #7A7F7D;
@define-color color4 #8C6911;
@define-color color5 #8D641D;
@define-color color6 #8A7652;
@define-color color7 #c8bea0;
@define-color color8 #8c8570;
@define-color color9 #6A5C1C;
@define-color color10 #5D5B37;
@define-color color11 #7A7F7D;
@define-color color12 #8C6911;
@define-color color13 #8D641D;
@define-color color14 #8A7652;
@define-color color15 #c8bea0;
